:root{
    --h1--:58px;
    --h2--:42px;
    --h3--:36px;
    --seccolour--:#98756F;
    --maincolour--:#F19E8E;
    --outline--:#58656D;

}
body{
    font-family:'Syne Mono','Noto Sans TC' ;
    margin: 0;
    
}

.introduce{
    width: 100%;
    /* border: solid 1px var(--outline--); */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h3--);
}
.adrianipart{
    height:740px;
    /* border: 1px solid #58656D; */
    width:100%;
    background: url("/Download\ 60\ paper\ backgrounds.jpeg") repeat;
    }
.apartbox{
    height: 740px;
    display: flex;
    align-items: center;
    /* border:1px solid #000; */
    
    justify-content: space-around;
}
.apartphoto{
    width:40%;
    height: 540px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    /* border:var(--seccolour--) 15px solid; */
    padding: 2rem;
    /* margin-left: 3.5rem; */
    border-radius: 4px;
}
.apartphoto img{
    width: 100%;
    /* filter:saturate(0.5); */
    filter:contrast(1);
}
.apartword{
    width: 40%;
    display: flex;

}
.wordbox{
    width: 100%;
    line-height: 2.5;
}
.mybtn{
    width: 200px;
    height: 60px;
    line-height: 2;
    font-size: 16px;
    border-radius: 4px;
    background: transparent;
    border:var(--outline--) 1px solid
}
.mybtn:hover{
    background-color: var(--outline--);
    color:#fff
}
.portfoliotititle{
    margin-top:36px;
    margin-bottom:36px;
    
}
.x{
    width: 36px;
}
.line{
    width: 100%;
    border-bottom: var(--outline--) 1px solid;
}
.thelatest{
    height:740px;
    background:  #bde4f4;
}
.honkiproject{
    height: 740px;
}
.honkiimg{
    width: 65%;
    height: 500px;
    overflow: hidden;
}
.honkiimg img{
    width: 100%;
    height: 100%;
}
.honkidescribe{
    padding-top: 2.5rem;
}